Source: sanji-bundle-serial
Priority: extra
Maintainer: Zack YL Shih <zackyl.shih@moxa.com>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: python (>= 2.7)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.moxa.com
#Vcs-Git:
#Vcs-Browser:
X-Python-Version: >= 2.5

Package: sanji-bundle-serial
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.7, python-pip
Description: Set UART mode utility

